@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Globals */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 404 page */

#error-body {
    background-color: #c6e2e9;
    font-family: MedievalSharp;
}

/* grid */

#grid-container-404 {
    display: grid;
    grid-template-columns: 5vw 1fr 3vw 1fr 5vw;
    grid-template-rows: auto 1fr auto;
    row-gap: 10px;
    grid-template-areas:
    "header-text header-text header-text header-text header-text"
    ". moo-text . moo-img ."
    "footer footer footer footer footer";
}

.grid-section-background {
    background-color: #f1ffc4;
    border-radius: 2vh;
    height: 200px;
    width: 80%;
    margin: 25% 20%;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%
}

/* header */

#header-text-error {
    grid-area: header-text;
    background-color: #f1ffc4;
    text-align: center;
    letter-spacing: 5px;
    height: 100%;
    border-bottom: 7px solid #dab894;
}

#header-text-error header h1{
    font-size: 600%;
}

.header-img-error {
    height: 60px;
    width: auto;
}

/* moo img */

#moo-img {
    grid-area: moo-img;
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-top: 7%;
}

#moo-img img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 7px solid #dab894;
}

/* moo text */

#moo-text {
    grid-area: moo-text;
    text-align: center;
    letter-spacing: 3px;
}

#moo-text h2 {
    font-size: 300%;
}

#moo-text p {
    margin: 20px;
    font-weight: 800;
}

#moo-text div {
    border: 7px solid #dab894;
    height: fit-content;
}

/* moo text nav */

#moo-text div p a {
    text-decoration: none;
}

#moo-text div p a:hover {
    text-decoration: underline;
}

/* footer */

#footer-error {
grid-area: footer;
background-color: #f1ffc4;
text-align: center;
letter-spacing: 5px;
border-top: 7px solid #dab894;
height: 10%;
}

/*-------End of 404 Page CSS----------*/

/*------------Main Menu Page CSS-----------*/

body {
	min-height: 100vh;
}

.shadow{
    text-shadow: #dab894 2px 2px;
}

.shadow {
	text-shadow: #dab894 2px 2px;
}


/*--Navigation--*/

nav {
	background-color: #dab894;
	text-shadow: #fbfbfb 2px 2px;
}

.brand-logo {
	padding-left: 10px !important;
}


/*--Modals--*/

#main-menu,
#modal1,
#modal2,
#modal3
 {
	background-color: #c6e2e9;
	color: #000814;
	font-family: 'MedievalSharp', sans-serif;
	font-weight: 600;
}

#modal1 {
	height: 400px !important;
	width: 400px !important;
}

#modal3 {
	height: 200px !important;
	width: 400px !important;
}

.modal-4 {
	height: 76px !important;
	padding-top: 20px !important;
}

.btn-4 {
	height: 40px !important;
	width: 80px !important;
}

.modal {
	animation: bounceInDown !important;
	animation-duration: 1s !important;
}

.modal.modal-fixed-footer .modal-footer {
	text-align: center;
	background-color: #f1ffc4;
}

.modal.modal-fixed-footer .modal-content {
	overflow-y: hidden !important;
}

.modal-footer>a {
	animation: pulse !important;
	animation-delay: 1s !important;
	animation-iteration-count: infinite !important;
	animation-duration: calc(1s * 2) !important;
	background-color: #dab894;
	border: #000814 solid 1px;
	margin: 6px 10px !important;
}

.modal-footer>a:hover {
	background-color: #fbfbfb;
	color: #000814;
}


/*--Images--*/

#Zomb-dude-bro {
	margin: 90px 30px 0px 30px;
	width: 100px;
	height: 100px;
}

#Wizard-dude {
	width: 100px;
	height: 100px;
}

#wiz-img2 {
	margin-top: 50px;
}

#wiz-img3 {
	margin-top: 80px !important;
	padding-bottom: 0;
}


/*--Lists--*/

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 1rem;
}


/*Footer and Icons--*/

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 !important;
	background-color: #dab894 !important;
	text-align: left;
	max-height: 60px;
	font-size: 1.5rem;
}

i,
footer,
.foot-logo,
.brand-logo,
nav ul a {
	color: #000814 !important;
	text-shadow: #fbfbfb 2px 2px;
	font-weight: 600 !important;
}

.foot-logo {
	padding-top: 10px;
}

i {
	font-weight: 600;
	font-size: 2rem;
}

i:hover,
nav ul a:hover {
	color: #fbfbfb !important;
	text-shadow: #000814 2px 2px;
}


/*---------------------End of Main Menu CSS--------------------*/

/*----------------------Credits CSS --------------------------*/

.credits {
    font-family: 'MedievalSharp', sans-serif;
    background-color: #c6e2e9;
    color: #000814;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
  font-size: 5em;
  padding: 30px 0px;
  margin: 20px auto;
  text-shadow: #dab894 2px 2px;
}

.cow-img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid gray;
}

.dev-credits h3 {
  margin-top: 50px;
}

.dev-credits p {
  font-size: 1.6em;
  padding: 10px 0px;
}

.repository p {
  margin: 60px auto;
  font-size: 1.8em;
}

.start-button a {
  margin-bottom: 50px;
  font-size: 1.3em;
  background-color: #dab894;
}

/*---------------End of Credits Page CSS-----------*/